  .error {
    background-color: lightcoral;
    border: red;
  }

  h1 {
    color:aliceblue;
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 247, 255), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 48;
  }
#Start {
    padding: 30px 60px;
    border: none;
    color: rgb(116, 69, 69);
    font-size: 24;
    border-radius: 50%;
    background-color: grey;
    z-index: 2;
}
#typed-value { /*remove if keyboard down works*/
    position: fixed;
    opacity: 1;
    /*uncomment to resize to whole screen*/
    /*width: 100%;
    left: 0;
    top: 0;
    bottom: 0;*/
    z-index: 1;
}
#quickend {
  z-index: 2;
}
  p {
    color: white;
    text-align: center;
    padding-top: 50;
    font-size: 32;
  }

  div {
    text-align: center;
    font-size: 32;
  }

  body {
    background-color: rgb(0, 0, 0);
  }

.spawnZone { /*Covers the whole screen for where the letters can appear from*/
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(71, 100, 128);
  display: grid; /*segments into 400 grid blocks around the screen*/
  grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  z-index: -2;
}

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .restartbtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .restartbtn:hover,
  .restartbtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }